<html>

<head>
    {{>header}}
    <style>
        * {
            box-sizing: border-box;
        }

        .breadcrumb {
            margin-top: 30px;
            height: auto;
        }

        #fline {
            max-width: 1024px;
            margin: 0 auto;
            min-height: 4vh;
            margin-top: 15px;
        }

        .breadcrumb-item {
            text-transform: capitalize;
            font-size: 16px;
            line-height: 1.5;
            max-width: 250px;
            white-space: nowrap;
            overflow: hidden;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            color: #4f585e;
            padding: 0;
        }

        .breadcrumb-item a {
            text-decoration: none;
            cursor: pointer;
        }

        .container-fluid .nav .nav-link {
            color: #ffffff;
            position: relative;
            font-size: 1.1em;
        }

        .container-fluid .nav .nav-link:hover {
            color: #ffffff;
        }

        .container-fluid .nav .nav-link::after {
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            background-color: #ffffff;
            color: transparent;
            width: 0%;
            content: '.';
            height: 3px;
            position: absolute;
        }

        .container-fluid .nav .nav-link:hover::after {
            width: 30%;
        }

        .container-fluid .nav .nav-link:hover::after {
            transition: all 0.5s;
        }

        h2 {
            min-height: 3 vh;
            margin: 0 auto;
            color: #495055;
            max-width: 1024px;
        }

        .row {
            max-width: 1024px;
            min-height: 3 vh;
            margin: 0 auto;
        }



        .h3,
        .apdu {
            margin: 0px auto;
            min-height: 3vh;
            max-width: 1024px;
            margin-top: 20px;
            margin-bottom: 25px;
        }

        .container {
            display: flex;
            flex-direction: row;
            margin-bottom: 65px;
        }

        .sec1 {
            width: 45vw;
        }

        .dablu {
            padding: 2px 16px;
        }

        .apdu {
            display: flex;
            flex-direction: row;
            height: 250px;
            border-radius: 7px;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }

        .apdu img {
            padding: 10px;
            height: 225px;
        }

        .combined {
            border-radius: 7px;
            /* border:2px solid black; */
            display: flex;
            flex-direction: row;
            /* background-color: #10847e; */
            /* color:#ffffff; */
            /* box-sizing: border-box; */
            width: 70px;
        }

        .input {
            margin-left: 10px;
        }

        .label {
            padding: 5px;

        }

        h4 {
            font-size: 27px;
            padding-top: 5px;
        }

        .btn-custom {
            background-color: #10847e;
            color: #ffffff;
        }
    </style>
</head>

<body>
    {{>nav}}
    &nbsp;
    &nbsp;
    {{!-- start of cart page --}}
    <div class="container">
        <div class="sec1">
            <p class="h3 ">Cart Items</p>
            {{#if cart}}
            {{#each cart as | prod |}}
            <div class="apdu">
                <img src="{{prod.image}}" alt="Avatar">
                <div class="dablu  d-flex flex-column justify-content-center">
                    <h4><b>{{prod.title}}</b></h4>
                    <p><b>Price: {{prod.price}}</b></p>
                    <div class="d-flex justify-content-between">
                        <div class="label center">
                            <label for="quantity"><b>{{prod.qty}}</b></label>
                        </div>
                        <div class="d-flex justify-content-center align-center">
                            <a class="btn" href="/cart/update/{{prod.title}}?action=add">+</a>&nbsp;
                            <a class="btn btn-danger" href="/cart/update/{{prod.title}}?action=remove">-</a>&nbsp;
                            <a  href="/cart/update/{{prod.title}}?action=clear">clear</a>&nbsp;
                        </div>
                        <div>
                           <b><i>SubTotal: {{prod.total}}</i></b>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
            {{else}}
            <div class="alert alert-danger" role="alert">
                Oops! you haven't added anything to your cart yet.
            </div>
            {{/if}}
            <p><b><i>Total : {{total}}</i></b></p>
            <button type="button" class="btn btn-custom">Confirm Order</button>
        </div>
    </div>
    {{>footer}}
</body>

</html>